.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    border-radius: 15px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    overflow-x: hidden;
    padding-top: 30px;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-family: monospace;
  }
    
  .icon-plane{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .icon-plane-contact{
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  
  .icon-plane a{
    display: inline-block;
    text-align: unset;
    width: auto;
    font-size: 30px;
  }

  .icon-plane-about{
    display:flex;    
    flex-direction: row;
    justify-content: space-around;
    font-size:150px;
  }
  .subdiv {
    border: #777;
    border-radius: 15px;
    border-style: hidden;
    background-color: #d9d9d9;
    margin-left: 10px;
  }

  .subdiv h1{
    margin-left:10px;
    font-family: monospace;
    font-variant: small-caps;
    font-size: 25px;
  }

  .subdiv h5{
    margin-left: 10px;
    font-family: monospace;
    font-size: 15px;
  }

  .subdiv p{
     margin-left: 10px;
  }

  .header{
    background-image: url(color-text.jpg);
  }

  img {
    border-radius: 50%;
  }

  
.text-center {
  text-align: center;
}

.align-center{
  text-align: center;
}
.author-img{
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.colorlib-logo {
font-weight: 700;
font-size: 22px;
margin-bottom: .5em;
display: block;
width: 100%;
font-family: monospace;
}

.position{
  font-family: monospace;
  display: block;
  margin-bottom: 2em;
  font-size: 12px;
  text-transform: uppercase;
}

.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

.fa-ul{
  list-style-type: disc;
}

/* Icons */

.icon-certification {
  color: black
}
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .fa-twitter-square {
	color: #4099ff;
}
.icon-button .fa-facebook-square {
	color: #3B5998;
}
.icon-button .fa-linkedin-in {
	color: #4099ff;
}

.icon-button .fa-github-square {
	color: #01080e;
}

.icon-button:hover .fa-twitter-square,
.icon-button:hover .fa-facebook-square,
.icon-button:hover .fa-linkedin-in,
.icon-button:hover .fa-github-square {
	color: white;
}


.icon-plane-about .fa-java {
	color: #4099ff;
}
.icon-plane-about .fa-android {
	color: #05941d;
}
.icon-plane-about .fa-angular {
	color: #ff0000;
}

.icon-plane-about .fa-windows {
	color: #01080e;
};


.timeline body {
  background: linear-gradient(55deg,#4E75B9 30%,#5CBF98 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 12vh 100px;
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-weight: 300;
  color: #333;
  box-sizing: border-box;  
}

* {
  box-sizing: border-box;
}


.timeline {
  width: 75%;
  max-width: 800px;
  background: #d9d9d9;
  padding: 100px 50px;
  position: relative;
  box-shadow: 0.5rem 0.5rem 2rem 0;  
  margin-left: 20px;
  margin-top: 20px;
  height: 375px;
  padding-top: 30px;
}



.entry {
  clear: both;
  text-align: left;
  position: relative;          
  }

  .entry  h3 {
    margin: 0;
    font-size: 120%;
  }   
  .entry p{
    margin: 0;
    font-size: 100%;
  }

  .entry title {
    margin-bottom: .5em;
    float: left;
    width: 33%;
    padding-right: 30px;
    text-align: right;
    position: relative;
  }
  .timeline body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: 30px;      
  }

  .body p {
    line-height: 1.4em;      
  }

  .body  ul {
    color:#070707;
    padding-left: 25px;
    list-style-type: square ;
  }

  .timeline hr{
    border-style: groove;
  }
